<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style_createBucket.css" />
    <title>Create Bucket 🪣</title>
  </head>
  <body>
    <div class="wrapper">
      <button class="arrow-left" onclick="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="18px" height="18px">
          <path fill="currentColor" d="M314.6,449.6L65.9,256l248.7-193.6c6.5-5.1,6.9-14.5,1.8-21s-14.5-6.9-21-1.8l-271.4,212c-3.7,2.9-5.7,7.4-5.7,12.1s2,9.2,5.7,12.1l271.4,212c2.8,2.2,6.2,3.3,9.6,3.3c3.4,0,6.7-1.1,9.6-3.3C321.1,464.1,321.1,454.7,314.6,449.6z"/>
        </svg>
      </button>
      <button class="add-button">Add</button>
      <div class="top_buttons">
        <form action="/feeds/inProgress">
          <button class="in_progress" type="submit">In Progress</button>
        </form>
        <form action="/feeds/completed">
          <button class="completed" type="submit"> Completed</button>
        </form>
      </div>    
      <div class="bucket-content">
        <%bucketlists.forEach(bucket => {%>
          <form method="GET" action="/createBucket">
            <a href="/feeds/createMessage?bucket=<%= bucket%>" class="bucket-link">
              <div class="bucket-item">
                <img src="../styles/images/inProgress_icon_noBackground.png" class="bucket-img" />
                <p><%=bucket%></p>
                <input type="hidden" name="btnData" value="<%bucket%>" />
              </div>
            </a>
          </form>
        <%});%>
      </div>
      
    <div class="navbar">
      <a href="/feeds/home">
        <img src="../styles/images/home_icon_noBackground.png" alt="Home" width="40" height="40">
      </a>
      <a href="/search">
        <img src="../styles/images/search_icon_noBackground.png" alt="Search" width="40" height="40">
      </a>
      <div class="circle">
        <a href="/feeds/createBucket">
          <img src="../styles/images/bucket_icon_noBackground.png" alt="Bucket" width="50" height="50">
        </a>
      </div>
      <a href="/notes">
        <img src="../styles/images/note_icon_noBackground.png" alt="Notes"  width="40" height="40">
      </a>
      <a href="/profile">
        <img src="../styles/images/profile_icon_noBackground.png" alt="Profile"  width="40" height="40">
      </a>
    </div>
  </div>
  </body>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>
