<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/feeds/createMessage" method="POST">
      <label for="titleInput"> Message: </label><br />
      <input type="text" name="newMessage" /> <br />
      <input type="hidden" name="bucketTitle" value="<%= bucketTitle %>" />
      <br />
      <button type="submit">Create Bucketlist</button>
    </form>
  </body>
</html>
