<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style_createMessage.css" />
    <title>Creating Message✍🏻</title>
  </head>

  <body>
    <div class="wrapper">
      <button class="cancel" onclick="goBack()">Cancel</button>
      <form action="/profile/" method="POST">
        <button type="submit">Add</button>
        <div class="input-container">
          <div class="profile-photo"></div>
          <p class="newBucketTitle">Your New Bucketlist: <%=bucketTitle%></p>
          <!-- <input type="text" name="newMessage" placeholder="What's your next goal?" /> -->
          <textarea
            style="outline: none; resize: none"
            type="text"
            name="newMessage"
            placeholder="What's your next goal?"
            class="create_post"
          ></textarea>
        </div>
        <br />
        <input type="hidden" name="bucket" value="<%= bucketTitle %>" />
        <br />
        <!-- <button type="submit" class="add-button">
          <img src="../styles/images/send_icon_noBackground.png" alt="Add" width="24" height="24">
        </button>               -->
      </form>
      <div class="navbar">
        <a href="/feeds/home">
          <img
            src="../styles/images/home_icon_noBackground.png"
            alt="Home"
            width="40"
            height="40"
          />
        </a>
        <a href="/search">
          <img
            src="../styles/images/search_icon_noBackground.png"
            alt="Search"
            width="40"
            height="40"
          />
        </a>
        <div class="circle">
          <a href="/feeds/buckets?show=inprogress">
            <img
              src="../styles/images/bucket_icon_noBackground.png"
              alt="Bucket"
              width="50"
              height="50"
            />
          </a>
        </div>
        <a href="/notes">
          <img
            src="../styles/images/note_icon_noBackground.png"
            alt="Notes"
            width="40"
            height="40"
          />
        </a>
        <a href="/profile/<%=user_id%>">
          <img
            src="../styles/images/profile_icon_noBackground.png"
            alt="Profile"
            width="40"
            height="40"
          />
        </a>
      </div>
    </div>
  </body>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>
