<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%bucketlists.forEach(bucket => {%>
    <!-- <form method="GET" action="/createBucket"> -->
    <a href="/feeds/createMessage?bucket=<%= bucket%>"
      ><div
        style="
          border-radius: 20px;
          cursor: pointer;
          display: flex;
          border: 3px solid #8083ff;
        "
      >
        <img src="" />
        <p><%=bucket%></p>
        <input type="hidden" name="btnData" value="<%bucket%>" /></div
    ></a>
    <!-- </form> -->
    <%});%>
  </body>
</html>
