<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>All Posts</title>
  </head>
  <body>
    <h1><a href="/">Feeds</a></h1>
    <h2><a href="/">Main</a></h2>
    

    <ul>
      <% feeds.forEach(feed => { %>
      <li>
        <h2><%= feed.title %></h2>
        <p><%= feed.contents.substring(0, 200) %>...</p>
        <p><%= new Date(feed.timestamp) %></p>
        <a href="/feeds/<%= feed.id %>">View more</a>
      </li>
      <% }) %>
    </ul>
    <a href="/createPost">Create New Feed</a>


  </body>
</html>
