<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Feed - For you</title>
  </head>
  <body>
    <div class="wrapper">
      <% data.forEach(post => { %>
      <div>
        <p>username: <%=post.username%></p>
        <p>Title: <%=post.completed%> <%=post.bucketName%></p>
        <p>Message: <%=post.messages%></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
