<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Feed - For you</title>
  </head>
  <body>
    <h1><a href="/">For you</a></h1>
    <h2><a href="/">Main</a></h2>
    <h2><a href="/home-feed-foryou">For you</a></h2>
    <div class="wrapper">
      <% userMessage = messages.filter((message) => message.user_id === 1)%> 
      <% userMessage.forEach((message) => { %>
      <% for (let i = 0; i < messages.length; i++) { %>
      <% if (messages[i].completed === false) { %>
      <% messages[i].completed = "Progress"; %>
      <% } else {%>
      <% messages[i].completed = "Completed"; %>
      <% } %>
      <% } %>
      <div>
      <%= message.user_id %>:<br /> <%= message.completed %><br /><%= message.message %><br />
      </div>
      <% }); %>
    </div>
  </body>
</html>
