<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Pocket List</title>
</head>
<body>
    <h1>Pocket List</h1>
    
    <h2><a href="/feeds">Go to Feeds</a></h2>
    <h2><a href="/createPost">Create New Feed</a></h2>
    
    
    <h2><%= Date() %></h2>
    
    <img src="Nam.jpg" class="center">
</body>
</html>