<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Back =) </title>
    <link rel="stylesheet" href="../styles/style_login.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome Back!</h1>
      <h2> Login to Continue</h2>
      <div class="grey_background"></div>
      <div class="inside_wrapper">
        <form method="POST" action="/login">
          <input required id="username" name="username" placeholder="Username" />
          <input required id="password" name="password" placeholder="Password" />
          <button type="submit" class="login-button">Login</button>
        </form>
          <div class="forgot">
          <a href="/forgot">Forgot Password?</a>
        </div>
        <div class="signup">
          <p>Don't have an account?</p>
          <a href="/signup">Sign Up</a>
        </div>
      
      </div>
    </div>
  </body>
</html>
