<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style_friendspost.css" />
    <script defer src="myscripts.js"></script> 
    <title>Friends-Posts</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="top_buttons">
        <form action="/feeds/home">
          <button class="for_you" type="submit">For you</button>
        </form>
        <form action="/feeds/friendspost">
          <button class="friends" type="submit">Friends</button>
        </form>
      </div>
      <div class="posts-container">
        <% feed.forEach(post => { %>
        <div class="post">
          <div class="user-picture"></div>
          <div class="post-content">
            <p class="username"><%=post.username%></p>
            <p><%= post.completed[0] %></p>
            <p><%= post.bucketName[0] %></p>
            <p><%= post.messages %></p>
          </div>
        </div>
        <% }) %>
      </div>
      <div class="navbar">
        <a href="/feeds/home">
          <img
            src="../styles/images/home_icon_noBackground.png"
            alt="Home"
            width="40"
            height="40"
          />
        </a>
        <a href="/search">
          <img
            src="../styles/images/search_icon_noBackground.png"
            alt="Search"
            width="40"
            height="40"
          />
        </a>
        <div class="circle">
          <a href="/feeds/createBucket">
            <img
              src="../styles/images/bucket_icon_noBackground.png"
              alt="Bucket"
              width="50"
              height="50"
            />
          </a>
        </div>
        <a href="/notes">
          <img
            src="../styles/images/note_icon_noBackground.png"
            alt="Notes"
            width="40"
            height="40"
          />
        </a>
        <a href="/profile">
          <img
            src="../styles/images/profile_icon_noBackground.png"
            alt="Profile"
            width="40"
            height="40"
          />
        </a>
      </div>
    </div>
  </body>
</html>
