<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_search.css">
    <title>Document</title>
</head>

<body>
    <h1>This page needs styling</h1>

    <div class ="search-wrapper">
        <div id="search-container">
            <form action="/search/" method="post">
            <input type="search" name = "searchInput" id="search-input" data-search placeholder="Search topics or people"/>
            <button id="search">Search</button>
        </form>
        </div>
    </div>

    <div id="tag-buttons">
        <% tags.forEach(tag => { %>
            <a href="/search/tag/<%=tag.id%>" class="button-value"><%=tag.tagName%></a>
        <% }) %>
    </div>

   <h2>Your Followers</h2>

   <div id="user-cards" data-user-card-container>
    <% data.forEach(following => { %>
        <div class="card">
            <img src="<%=following.profileImg %>" style="z-index: 0;  margin-top: 3vh;  width: 6.5vh; height: auto;"  class="user-picture"></a>
            <div class="header"><%=following.username%></div>
        </div>
    <% }) %>
   </div>
   <script>
    const searchInput = document.querySelector("[data-search]");
  
    searchInput.addEventListener("input", (e) => {
      try {
        const value = e.target.value;
        const buttons = document.querySelectorAll("#tag-buttons a");
        const users = document.querySelectorAll(".card");
        buttons.forEach((button) => {
          users.forEach((user) => {
            const headerDiv = user.querySelector(".header");
            const userName = headerDiv.textContent;
  
            if (value.toUpperCase() === button.textContent.toUpperCase()) {
              button.classList.add("active");
            } else if (value.toUpperCase() === userName.toUpperCase()) {
              user.classList.add("active");
            } else {
              button.classList.remove("active");
              user.classList.remove("active");
            }
          });
        });
      } catch (error) {
        console.log(error);
      }
    });
  </script>
  
</body>
</html>