<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This page needs styling</h1>
    <form action="/search" method="GET">
        <label for="search">Search user:</label>
        <input type="text" id="search" name="searchUser" placeholder="Who are you looking for?">
        <button type="submit">Search</button>
      </form>
</body>
</html>