<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome Back =) </title>
  <link rel="stylesheet" href="../styles/style_signup.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
  <div class="wrapper">
    <h1 data-text="Welcome!">Welcome!</h1>
    <h2 data-text="SignUp"> Sign Up</h2>
    <div class="grey_background"></div>
    <div class="inside_wrapper">
      <form method="POST" action="/auth/signup">
        <input required id="email" name="email" placeholder="Email" />
        <input required id="username" name="username" placeholder="username" />
        <div class="password-container">
          <input required id="password" name="password" placeholder="Password" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$" title="Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%^&*)." />
          <i class="material-icons eye-icon" onclick="togglePasswordVisibility()">
            visibility_off
          </i>
        </div>
    <button type="submit" class="sign-button">Sign Up</button>
    </form>
    <div class="login">
      <p>Already have an account? <a href="/auth/login">Login</a></p>
    </div>
  </div>
  </div>
</body>
<script>
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById('password');
    const passwordType = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput.setAttribute('type', passwordType);
  }
</script>
</html>