p {
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  max-width: 800px;
  margin: auto;
  display: flex;
  height: 100vh;
}

.wrapper {
  border: solid 0.25rem black;
  box-shadow: 0 0 6vmin rgba(0, 0, 0, 0.2);
  border-radius: 2vmin;
  position: relative;
  width: 45vh;
  height: 88vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child-wrapper {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  height: inherit;
}
.post-wrapper {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 1rem;
}

.inside_wrapper {
  /* border: solid 0.25rem black; */
  /* box-shadow: 0 0 6vmin rgba(0, 0, 0, 0.2); */
  border-radius: 2vmin;
  position: relative;
  width: 30vh;
  height: 70vh;
  margin: auto;
}

img {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-size: 500%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

ul {
  list-style-type: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

/* Friends Feed */
.username {
  margin-bottom: 5px;
}
