@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display&display=swap");

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #FFFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}


/* .cancel {
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  font-style: light;
  border: none;
  padding: 0.4vh 0.8vh;
  position: absolute;
  top: 1vh;
  cursor: pointer;
}

.cancel {
  top:2vh;
  left: 2vh;
  background-color: #ffffff;
  color: #000000;
} */


.arrow-left {
  position: absolute;
  top: 3vh;
  left: 3vh;
  cursor: pointer;
  background-color: transparent;
  border:none;
 
}


h1{
  text-align: center;
  font-size: 4vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.logout-container {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border:none;
  top: 16vh;
  display: flex;
}

p{
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 2vh;
}
a{
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 9vh;
  text-decoration: none;
  color: #9a9a9a;
}

a::hover{
  color: #000000;
}