@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.wrapper {
  border: solid 0.25rem black;
  box-shadow: 0 0 6vmin rgba(0, 0, 0, 0.2);
  border-radius: 2vmin;
  position: relative;
  width: 40vh;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.cancel {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-style: light;
  border: none;
  padding: 4px 8px;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
[type="submit"] {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  border: 1px solid #8083ff;
  border-radius: 30px;
  padding: 4px 8px;
  background-color: #ffffff;
  color: #8083ff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
[type="submit"]:hover {
  background-color: #8083ff;
  color: #ffffff;
}

.navbar img {
  margin: 0 10px;
}

.navbar a[href="/search"] {
  margin-right: 40px;
}

.navbar a[href="/notes"] {
  margin-left: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(128, 131, 255, 0.75);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  border: 20px solid var(-clr);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #8083ff;
}

a[href="/feeds/buckets?show=inprogress"] img {
  width: 40px;
  height: 40px;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: #b1b1b1;
  right: 120px;
  top: 120px;
}

input {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  padding: 6px 14px;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 60px;
  border-color: #8083ff;
  position: relative;
  top: 20px;
}

input[type="text"]::placeholder {
  font-size: 14px;
  font-family: "Open Sans";
  font-style: normal;
  color: #8083ff;
}
