@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");


.wrapper {
  max-width: 375px; /* limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #FFFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.cancel {
  font-size: 1.75vh;
  font-family: "Open Sans", sans-serif;
  font-style: light;
  border: none;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  top: 2.67vh;
  left: 2.67vh;
  cursor: pointer;
}

[type="submit"] {
  font-size: 1.75vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  border: 0.27vh solid #8083ff;
  border-radius: 8vh;
  background-color: #ffffff;
  color: #8083ff;
  position: absolute;
  top: 2.67vh;
  right: 2.67vh;
  cursor: pointer;
  margin-bottom: 2.67vh;
}

[type="submit"]:hover {
  background-color: #8083ff;
  color: #ffffff;
}


.navbar img {
  margin: 0 1vh;
}

.navbar a[href="/search"] {
  margin-right: 4vh;
}

.navbar a[href="/notes"] {
  margin-left: 4vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6vh;
  background-color: #ffffff;
  box-shadow: 0vh 0vh 1vh rgba(128, 131, 255, 0.75);
  border-radius: 1vh;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  border: 2vh solid var(-clr);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2.5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #8083ff;
}

a[href="/feeds/buckets?show=inprogress"] img {
  width: 4vh;
  height: 4vh;
}

.profile-photo {
  position: absolute;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.5vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #b1b1b1;
  right: 35vh;
  top: 7vh;
}

input {
  border-radius: 1vh;
  width: 85%;
  height: 15vh;
  padding: 0.6vh 1.4vh;
  font-size: 1.8vh;
  box-sizing: border-box;
  margin-bottom: 2vh;
  padding-left: 6vh;
  border-color: #8083ff;
  position: relative;
  top: 2vh;
  left: 3.5vh;
}

.input-container {
  position: relative;
  top: 6vh; 
  left: 0vh;
}

input[type="text"]::placeholder {
  font-size: 1.4vh;
  font-family: "Open Sans";
  font-style: normal;
  color: #8083ff;
}

.bucketTitle {
  font-size: 1.75vh;
  font-family: "Open Sans";
  font-style: normal;
  position: relative;
  top: 3vh; /* adjust as necessary */
  left: 4vh;
}