@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #FFFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}


h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 4vh;
  text-align: center;
  margin: 0;
  padding:  12vh 0 16vh 0;
}

.grey_background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 25vh;
  z-index: -1;
}
.grey_background::before, .grey_background::after {
  content: '';
  display: block;
  position: absolute;
  background-size: 200% 200%;
  background-image: linear-gradient(190.99deg, rgba(57, 185, 19, 0.725) 1.82%, rgba(116, 209, 174, 0.32) 30.9%, rgba(81, 83, 255, 0.32) 72.64%);
  animation: gradient 5s ease infinite;
}

.grey_background::before {
  border-radius: 100% 0% 100% 0% /30% 100% 0% 70%;
  width: 100%;
  height: calc(100% - 7.5vh);
}

.grey_background::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7.5vh; 
  border-radius: 0 0 50% 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: -80vh;
}

.logo {
  width: 29.333vh;
  height: auto;
  margin-bottom: 4vh;
  margin-top:-2vh ;
  margin-left: 1vh;
}

.start_button {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 4vh 2vh 4vh;
  gap: 1vh;
  border: 0.267vh solid #8083FF;
  border-radius: 7.5vh;
  background-color: #8083FF;
}


.start_button span {
  height: 1.333vh;
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  font-size: 3.333vh;
  line-height: 1.333vh;
  text-align: center;
  color: #ffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #8083FF;
}

.login {
  margin-top: 1.333vh;
  font-family: 'Open Sans',sans-serif;
  font-size: 1.75vh;
  text-align: center;
  margin-top: 15vh;
  color: black;
  }
  
  .login a {
  color: #8083FF;
  font-weight: 500;
  text-decoration: none;
  }
  
  .login a:hover {
  color: #333;
  
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }