@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display&display=swap");

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.background-container {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5px;
  box-sizing: border-box;
  border-radius: 0 20px 20px;
  height: 37vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-left {
  position: absolute;
  top: 3vh;
  left: 3vh;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  border: none;
  border-radius: 1vh;
  background-color: transparent;
  padding-left: 2vh;
  resize: none;
  font-size: 18px;
}

textarea::placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 3vh;
  font-weight: 800;
  text-align: center;
  /* text-decoration: underline solid #000000; */
}

textarea:focus {
  outline: none;
}

.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.icon-input-container {
  display: flex;
  align-items: center;
  background-color: transparent;
}


.select-container {
  display: flex;
  justify-content: center;
  margin-top: 0vh;
  background-color: transparent;
}

select {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4vh;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 0.5vh;
  border: none;
  background-color: transparent;
  margin-top: 2vh;
  text-align: center;
}

option[value="low"] {

  color: #00a0fa;
}

option[value="medium"] {
  color: #00b955;
}

option[value="high"] {
  color: #ff815a;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3.4vh;
  line-height: 4vh;
  text-align: center;
  color: #000000;
  margin-top: 6vh;
  padding-left: 4vh;
}


.Create-Goal {
  display: block;
  margin:auto;
  background: #8083ff;
  border-radius: 2.5vh;
  border: none;
  padding: 1vh 1vh;
  font-size: 1rem;
  cursor: pointer;
  width: 19.3vh;
  height: 6vh;
  font-family: "Open sans", sans-serif;
  color: #ffffff;
  font-size: 2vh;
  bottom: 5vh;
  position: absolute;
  left: 50%;  /* centering horizontally */
  transform: translateX(-50%); /* centering horizontally */

}

.Create-Goal:hover {
  background: #8083ff;
  color: #ffffff;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 2vh;
}

.setDueDate{
  font-size: 2.4vh;
  color: #000000;
  text-align: center;
}

#dueDate{
  text-align: center;
}

.date-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 2vh;
}

textarea::placeholder {
  font-size: 2vh; 
}

[type="date"]::-webkit-datetime-edit,
[type="date"]::-webkit-datetime-edit-fields-wrapper,
[type="date"]::-webkit-datetime-edit-text {
  color: #8083ff;
  font-family: 'Open Sans', sans-serif;
}

[type="date"]{
  border: none;
  background-color: transparent;
  color: #8083ff;
  font-size: 2.4vh;
  align-items: center;
}

.newBucketTitle{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2vh;
  line-height: 4vh;
  text-align: center;
  color: #8083ff;
  margin-top: 6vh;
 
}

p {
  text-align: center;
}


.tag-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin-top: 18vh;
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 7vh; 
}
