@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* This aligns items in the center horizontally */
  justify-content: space-between;
}

.newBucketTitle {
  text-align: center;
}

.cancel {
  font-size: 2.75vh;
  font-family: "Open Sans", sans-serif;
  font-style: light;
  border: none;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  top: 2.67vh;
  left: 2.67vh;
  cursor: pointer;
}

[type="submit"] {
  font-size: 2.75vh;
  padding: 7px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  border: 0.27vh solid #8083ff;
  border-radius: 8vh;
  background-color: #ffffff;
  color: #8083ff;
  position: absolute;
  top: 2.67vh;
  right: 2.67vh;
  cursor: pointer;
  margin-bottom: 2.67vh;
}

[type="submit"]:hover {
  background-color: #8083ff;
  color: #ffffff;
}

.navbar img {
  margin: 0 1vh;
}

.navbar a[href="/search"] {
  margin-right: 4vh;
}

.navbar a[href="/notes"] {
  margin-left: 4vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: #ffffff;
  box-shadow: 0vh 0vh 1vh rgba(128, 131, 255, 0.75);
  border-radius: 1vh;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  border: 2vh solid var(-clr);
}

.circle:hover {
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #6467fa;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5.5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 9vh;
  height: 9vh;
  transition: background 0.5s ease;
  border-radius: 61%;
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #8083ff;
}

a[href="/feeds/buckets?show=inprogress"] img {
  width: 4vh;
  height: 4vh;
}

.profile-photo {
  position: absolute;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.5vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  /* background-color: #b1b1b1; */
  background: url(https://media.pitchfork.com/photos/5a00b09…/1:1/w_800,h_800,c_limit/samsmith_thrill.jpg);
  background-size: cover;
  background-position: center;
  top: 110%;
  left: 15px;
  transform: translateY(-50%);
}

input {
  border-radius: 1vh;
  width: 100%;
  height: 18vh;
  padding: 1vh 15vh;
  font-size: 1.8vh;
  box-sizing: border-box;
  margin-bottom: 2vh;
  padding-left: 6vh;
  border-color: #8083ff;
  position: relative;
  top: 18vh;
  left: 0vh;
}

.input-container {
  position: relative;
  top: 6vh;
  left: 0vh;
}

input[type="text"]::placeholder {
  font-size: 1.4vh;
  font-family: "Open Sans";
  font-style: normal;
  color: #8083ff;
}

.newBucketTitle {
  font-size: 1.75vh;
  font-family: "Open Sans";
  font-style: normal;
  position: relative;
  top: 14vh; /* adjust as necessary */
  left: 0vh;
}

.create_post {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 100%;
  height: 220px;
  padding: 6px 14px;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 60px;
  border: none;
  position: relative;
  top: 10px;
  padding-top: 10%;
}

.create_post::placeholder {
  font-size: 14px;
  font-family: "Open Sans";
  font-style: normal;
  color: #8083ff;
}
