@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display&display=swap");

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #FFFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.cancel,
.save {
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  font-style: light;
  border: none;
  padding: 0.4vh 0.8vh;
  position: absolute;
  top: 1vh;
  cursor: pointer;
}

.cancel {
  top:2vh;
  left: 2vh;
  background-color: #ffffff;
  color: #000000;
}

.save {
  right: 1vh;
  background-color: transparent;
  color: #000000;
  margin-bottom: 1vh;
}

h1{
  text-align: center;
  font-size: 4vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 2vh;
}
h2 {
  text-align: center;
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: url("https://media.pitchfork.com/photos/5a00b098ec4b2c2177a85205/1:1/w_800,h_800,c_limit/samsmith_thrill.jpg");
  background-size: cover;
  background-position: center;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30%;
}

.picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-picture {
  margin-top: 1vh;
  font-size: 1.4vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.change-username {
  font-size: 1.4vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-left:9vh;
}

.changeUserName {
  font-size: 2vh;
  width:100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border: none;
  position: relative;
  top: 1vh;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  text-align: center;
  resize: none;
}

/* .navbar img {
  margin: 0 10px;
}

.navbar a[href="/search"] {
  margin-right: 40px;
}

.navbar a[href="/notes"] {
  margin-left: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(128, 131, 255, 0.75);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  border: 20px solid var(-clr);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #8083ff;
}

a[href="/feeds/buckets?show=inprogress"] img {
  width: 40px;
  height: 40px;
} */
