* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.search-wrapper {
    width: 95%;
    margin: 0 auto;
}

#search-container {
    margin: 1em 0;
}

#search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus {
    border-bottom-color: #6759ff;
}

#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
}

.button-value {
    border: 2px solid #6759ff;
    background-color: transparent;
    color: #6759ff;

}

.active{
    background-color: #6759ff;
    color: #ffffff;
}