@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#bucket-title {
  font-size: 3.4vh;
}

.add-button {
  font-size: 2.4vh;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-decoration: none;
  border: 0.1vh solid #8083ff;
  border-radius: 3vh;
  padding: 1.4vh 1.8vh;
  background-color: #ffffff;
  color: #8083ff;
  position: absolute;
  right: 1vh;
  cursor: pointer;
  margin-bottom: 1vh;
}

.add-button:hover {
  background-color: #8083ff;
  color: #ffffff;
}

.navbar img {
  margin: 0 1vh;
}

.navbar a[href="/search"] {
  margin-right: 4vh;
}

.navbar a[href="/notes"] {
  margin-left: 4vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: #ffffff;
  box-shadow: 0vh 0vh 1vh rgba(128, 131, 255, 0.75);
  border-radius: 1vh;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  border: 2vh solid var(-clr);
}

.circle:hover {
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #6467fa;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5.5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 9vh;
  height: 9vh;
  transition: background 0.5s ease;
  border-radius: 61%;
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #8083ff;
}

a[href="/feeds/buckets?show=inprogress"] img {
  width: 4vh;
  height: 4vh;
}

.select-container {
  margin-top: 5vh;
  
}

.status-select {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4vh;
  font-weight: 700;
  line-height: 2vh;
  border-radius: 3vh;
  border: none;
  padding: 0.4vh 0.8vh;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  margin-left: 2vh;
}

.status-select:focus {
  outline: none;
}

.bucket-item {
  background: #ffffff;
  border: 0.2vh solid #8083ff;
  border-radius: 1.5vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  width: 100%;
  margin-bottom: 1vh;
  color: black;
}

.bucket-content {
  overflow-y: auto;
  margin-bottom: 6vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1vh;
  padding-right: 1vh;
  margin-top: 2vh;
}

.bucket-item a {
  color: black;
  text-decoration: none;
}

.bucket-img {
  width: 8vh;
  height: 8vh;
  object-fit: contain;
  margin-right: 1vh;
}

.bucket-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.bucket-content::-webkit-scrollbar {
  display: none;
}

.bucket-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 4vh;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4vh;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 231, 231, 0.937);
}

.modal-content {
  position: relative;
  background-color: white;
  margin: 15vh auto;
  padding: 2vh;
  width: 45%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.congrats {
  text-align: center;
  margin-bottom: 2vh;
}

.modal-content::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(180deg, rgba(185, 255, 229, 0.75) 0%, rgba(128, 131, 255, 0.75));
  border-radius: 15px;
}

.modal-content h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

.post-btn {
  background-color: #8083ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 3vh 1vh;
  cursor: pointer;
  padding: 1.5vh 2vh;
  border-radius: 20px;
  transition-duration: 0.4s;
  width: 40vh;
}
.post-btn:hover {
  background-color: #5a5fff;
  color: #FFFFFF;
}

.modal-gifs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.party-popper,
.party-popper-inverted,
.partying-face {
  max-height: 100px;
}

.party-popper-inverted {
  transform: scaleX(-1);
}
