@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.navbar img {
  margin: 0 1vh;
}

.navbar a[href="/search"] {
  margin-right: 4vh;
}

.navbar a[href="/notes"] {
  margin-left: 4vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: #ffffff;
  box-shadow: 0vh 0vh 1vh rgba(128, 131, 255, 0.75);
  border-radius: 1vh;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  border: 2vh solid var(-clr);
}


.circle:hover {
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #6467fa;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5.5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 9vh;
  height: 9vh;
  transition: background 0.5s ease;
  border-radius: 61%;
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #8083ff;
}

a[href="/feeds/buckets?show=inprogress"] img {
  width: 4vh;
  height: 4vh;
}

.homefeedTop {
  margin-top: 5vh; /* adjust as needed */
  width: 90%; /* adjust as needed */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8083ff;
  border-radius: 100px;
  border: 1px solid #8083ff;
  box-shadow: 0px 0px 10px rgba(145, 146, 240, 0.75);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.post {
  background-color: #f7f7f7;
  border-radius: 10px;
  position: relative;
  padding: 2vh; /* adjust as needed */
  margin-bottom: 2vh; /* adjust as needed */
  margin-top: 2vh; /* adjust as needed */
  margin-left: 5%;
  max-width: 80%;
}

.post p {
  font-family: "Opens Sans", sans-serif;
  font-size: 2vh; /* adjust as needed */
  line-height: 2.5vh; /* adjust as needed */
  margin-bottom: 1vh;
  font-style: normal;
  word-wrap: break-word;
}

.post p:last-child {
  margin-bottom: 0;
}

.user-picture {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-right: 1.33vh;
  background-color: #b1b1b1;
  position: absolute;
  top: 2.4vh;
}

.username {
  font-weight: normal;
  margin: 0;
  line-height: 19px;
  display: inline;
}

.post p:nth-child(2) {
  margin-top: 5px;
  font-size: 12px;
}

.post p:nth-child(3) {
  margin-top: 5px;
  font-size: 14px;
}

p.post-message {
  margin-top: 5px;
  font-size: 14px;
  margin-left: -43px;
}

.post-content {
  margin-left: 6vh; /* adjust as needed */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  margin-top: 10px;
  max-height: calc(80vh - 5vh); /* adjust as needed */
  padding-bottom: 20vh; /* adjust as needed */
  margin-left: 5vh;
}

.grey_background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 25vh;
  z-index: -1;
}

.grey_background::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 0% 100% 0% /30% 100% 0% 70%;
  width: 100%;
  height: calc(100% - 7.5vh);
  background: linear-gradient(
    190.99deg,
    rgba(116, 209, 174, 0.32) 1.82%,
    rgba(116, 209, 174, 0.32) 30.9%,
    rgba(128, 131, 255, 0.32) 72.64%
  );
}

.grey_background::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7.5vh;
  background: linear-gradient(
    190.99deg,
    rgba(116, 209, 174, 0.32) 1.82%,
    rgba(116, 209, 174, 0.32) 30.9%,
    rgba(128, 131, 255, 0.32) 72.64%
  );
  border-radius: 0 0 50% 90%;
}

.InProgress {
  background: aliceblue;
  border: 1px solid #4883dd;
  border-radius: 33px;
  font-weight: 700;
  color: #4883dd;
  padding: 5px;
}

.Completed {
  background: #eeffed;
  border: 1px solid #55be36;
  border-radius: 33px;
  font-weight: 700;
  color: #55be36;
  padding: 5px;
}


.post-actions {
  display: flex;
  justify-content: flex-end;
}
.comment-button,
.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 0 20px;
  outline: none;
  transition: transform 0.3s ease;
}

.comment-button, .like-button {
  transition: transform 0.3s ease;
}

.comment-button:hover, .like-button:hover {
  transform: scale(1.1);
}

