@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display&display=swap");

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.background-container {
  background-color: #ededed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5px;
  box-sizing: border-box;
  border-radius: 0 20px 20px;
  height: 45vh;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 4.8vh;
  margin-bottom: 1.5vh;
}

.profile-photo {
  width: 70px;
  height: 100px;
  border-radius: 50%;
  background: url("https://media.pitchfork.com/photos/5a00b098ec4b2c2177a85205/1:1/w_800,h_800,c_limit/samsmith_thrill.jpg");
  background-size: cover;
  background-position: center;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 0.8vh;
  padding: 1.3vh 2.6vh;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

/* .buttons button:first-child {
  margin-right: 5%; 

}

.buttons button:nth-child(2) {
  margin-right: 3%; 
} */

.edit-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 0.8vh;
  padding: 1.3vh 2.6vh;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

.edit-button:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.navbar img {
  margin: 0 1vh;
}

.navbar a[href="/search"] {
  margin-right: 4vh;
}

.navbar a[href="/notes"] {
  margin-left: 4vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: #ffffff;
  box-shadow: 0vh 0vh 1vh rgba(128, 131, 255, 0.75);
  border-radius: 1vh;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  border: 2vh solid var(-clr);
}

.circle:hover {
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #6467fa;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5.5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 9vh;
  height: 9vh;
  transition: background 0.5s ease;
  border-radius: 61%;
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #8083ff;
}

a[href="/feeds/buckets?show=inprogress"] img {
  width: 4vh;
  height: 4vh;
}

.setting {
  position: absolute;
  top: 3.6vh;
  left: 3.6vh;
  cursor: pointer;
}

.posts-container {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  padding: 0 1.5vh;
  margin-top: 2vh;
  height: 50vh;
  box-sizing: border-box;
}

.posts-container::-webkit-scrollbar {
  display: none;
}

.post {
  background-color: #f7f7f7;
  border-radius: 10px;
  position: relative;
  padding: 2vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin-left: 5%;
  max-width: 80%;
}

.post p {
  font-family: "Opens Sans", sans-serif;
  font-size: 2vh;
  line-height: 2.5vh;
  margin-bottom: 1vh;
  font-style: normal;
  word-wrap: break-word;
}

.post p:last-child {
  margin-bottom: 0;
}

.user-picture {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-right: 1.33vh;
  background-color: #b1b1b1;
  position: absolute;
  top: 4vh;
}

.username {
  font-weight: normal;
  margin: 0;
  line-height: 19px;
  display: inline;
}

.post p:nth-child(2) {
  margin-top: 5px;
  font-size: 12px;
}

.post p:nth-child(3) {
  margin-top: 5px;
  font-size: 14px;
}

p.post-message {
  margin-top: 5px;
  font-size: 14px;
  margin-left: -43px;
}

.post-content {
  margin-left: 6vh;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.username {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 2vh;
  margin-bottom: 1.5vh;
  color: #000000;
}

.create_post {
  display: flex;
  border-radius: 10px;
  width: 80%;
  height: 150px;
  /* padding: 6px 14px; */
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 60px;
  border: none;
  position: relative;
  top: 20px;
  padding-top: 25px;
}

.createInput {
  border: #8083ff 1px solid;
  display: flex;
  align-items: flex-end;
  margin: 10px;
  border-radius: 10px;
}
.user-input-wrapper {
  position: relative;
  width: 100%;
}

.wrapwrap {
  position: absolute;
  top: 15%;
  left: 15px;
}
select {
  z-index: 99;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  top: -5px;
  margin-left: 5px;
}

.user-avatar {
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b1b1b1;
  z-index: 1;
}

.bucket-dropdown-list {
  position: absolute;
  top: 10%;
  left: 70px;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.create_post::placeholder {
  font-size: 14px;
  font-family: "Open Sans";
  font-style: normal;
  color: #8083ff;
}

.add-button {
  font-family: "Courier New", Courier, monospace;
  margin-right: 5px;
  color: #636363;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.add-button img {
  width: 40px;
  height: 40px;
  padding-left: 5px;
}

select {
  border-radius: 10px;
  background-color: #8083ff;
  color: white;
  padding: 2px;
}

.InProgress {
  background: aliceblue;
  border: 1px solid #4883dd;
  border-radius: 33px;
  font-weight: 700;
  color: #4883dd;
  padding: 5px;
}

.Completed {
  background: #eeffed;
  border: 1px solid #55be36;
  border-radius: 33px;
  font-weight: 700;
  color: #55be36;
  padding: 5px;
}
